.bg1{
    background: url(../../img/Fotolia_154830442_Subscription_Monthly_M-1024x682.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
}

.text{
    width: 300px;
    height: 300px;
    padding: 100px;
}

.bg2{
    background: url(../../img/sinrin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
}

h1{
    padding: 100px;
    font-size: 100px;
    color: white;
}

.muon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    color: white;
    font-size: 50px;
    padding: 30px;
}