.bg1{
    background: url(../../img/Fotolia_154830442_Subscription_Monthly_M-1024x682.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
    display: flex;
}

.header-right {
    align-items: center;
    width: 60px;
    height: 30px;
    margin: 30px 30px 30px 800px; 
   
}


.header-right span {

    position: relative;
    display: block;
    color: white;

}

.header-right span,
.header-right span::before,
.header-right span::after {

    width: 50px;
    height: 5px;
    background-color: #ddd;
    border-radius: 2px;
    transition: all 1s ease;
}

.header-right span::before,
.header-right span::after {

    content: "";
    position: absolute;
}

.header-right span::before {

    top: -9px;
}


.header-right span::after {

    top: 9px;
}

.text{
    width: 300px;
    height: 300px;
    padding: 100px;
    font-size: 20px;
}

.bg2{
    background: url(../../img/sinrin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
}

h1{
    padding: 80px;
    font-size: 100px;
    color: rgb(226, 152, 152);
    text-align: center;
}

.muon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    position: relative;
    /* border-bottom: 1px solid black; */
}

li {
    color: rgb(8, 1, 1);
    font-size: 50px;
    padding: 30px 40px 0px 40px;
    /* border-bottom: 1px solid black; */
    background-color: rgb(190, 184, 184,0.5);
    width: 1200px;
}

.button{
    position: absolute;
    right: 20px; 
    border: 0;
    background: none;
    cursor: pointer;
}

.button.bg02{
    position: absolute;
    right: 20px; 
    border: 0;
    background: none;
    cursor: pointer;
}

/* .button2{
    position: absolute;
    right: 20px; 
    border: 0;
    background: none;
    cursor: pointer;
}

.button3{
    position: absolute;
    right: 20px; 
    border: 0;
    background: none;
    cursor: pointer;
} */


.muon p{
    font-size: 17px;
    padding: 10px;
    display: none;
}