.section1{
   display: flex;
   height: 70vh;
   color: white;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color:#D2B48C;
}

.CONTACT{
    font-size: 30px;
    margin: 10px;
    margin-top: -80px;
    letter-spacing: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.contact-form{
    height: 70vh;
}

form{
    margin-bottom: 50px;
    margin: 50px;
    transition: all 4s ease-in-out;
    color: black;
}

.form-control{
    margin-top: 20px;
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

.button{
    display: inline-block;
    border-radius: 5%;
    font-size: 10pt;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background-color: white;
    color:black;
    line-height: 1em;
    transition: .3s;
    box-shadow: 3px 4px 3px #D2B48C;
    border: 2px solid tan;
}

.button:hover{
    box-shadow: none;
    color: #D2B48C;
    background: #666666;
}

.section3{
    height: 100vh;
    background-color: #343a40;
}

.logo img{
    display: flex;
    justify-content: center;
    margin-top: 
    50px;
    margin: 0;
}

button{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

.arrow{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    cursor: pointer;
    display: none;
    border-radius: 30px;
}