/* Menu */
*, *:before, *:after {
	padding: 0;
	margin: 0;
   box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
.cp_cont {
    height: 110vh;
    background-color: #948051;
}
.cp_offcm04 {
	position: absolute;
	top: 20px;
	left: 20px;
	display: inline-block;
}
/* menu */
.cp_offcm04 .cp_menu {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 250px;
	height: 100vh;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: white;
	opacity: 0.8;
}
.cp_offcm04 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm04 .cp_menu li {
	list-style: none;
}
.cp_offcm04 .cp_menu li a {
    margin-top: 30px;
	display: block;
	padding: 20px;
	text-decoration: none;
	color: black;
    border-bottom: 1px solid #ffffff;
    letter-spacing: 10px;
}

.cp_offcm04 #cp_toggle04 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm04 #cp_toggle04:checked ~ .cp_menu {
	-webkit-transform: translateX(100vw);
	        transform: translateX(100vw);
}
/* menu toggle */
.cp_offcm04 #cp_toggle04 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm04 #cp_toggle04:checked ~ label {
	-webkit-transform: translateX(250px);
	        transform: translateX(250px);
}
.cp_offcm04 #cp_toggle04 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm04 #cp_toggle04:checked ~ label::before {
	content: '\f00d';
}
/* contents */
.cp_contents {
	color: white;
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    letter-spacing: .5em;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    display: none;
    align-items: center;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: auto;
}


.cp_cont .CONTACT{
    height: 60vh;
    padding: 200px;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    letter-spacing: .5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: none;
    align-items: center;
    -webkit-font-smoothing: subpixel-antialiased;
}


/* コンタクトフォーム */
.contact-form{
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

form{
    margin-bottom: 50px;
    margin: 50px;
    transition: all 4s ease-in-out;
    color: black;
}

.form-control{
    background-color: antiquewhite;
    margin-top: 20px;
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;

}

input{
    height: 45px;
}

.button{display: flex;
    justify-content: center;
    display: inline-block;
    border-radius: 5%;
    font-size: 10pt;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background-color: white;
    color:black;
    line-height: 1em;
    transition: .3s;
    box-shadow: 3px 4px 3px #D2B48C;
    border: 2px solid tan;
    align-items: center;
}

.button:hover{
    box-shadow: none;
    color: #D2B48C;
    background: #666666;
}



footer {

    height: 100vh;
    background-color: #343a40;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
 }
 

 .download {
    background-color: #343a40;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px gray;
    border-radius: 3px;
    transition: .4s;
    margin-right: 50px;
    font-size: 20px;
 }
 
 .download:hover {
 
    background: white;
    color: #343a40;
 }
 
 .reservation {
    background-color: #343a40;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color:white;
    border: solid 2px gray;
    border-radius: 3px;
    transition: .4s;
    margin-left: 50px;
    font-size: 20px;
 
 }
 
 .reservation:hover {
 
    background: white;
    color: #343a40;;
 }
 
 .download i {
 
    padding-right: 20px;
 }
 
 .reservation i {
 
    padding-right: 20px;
 }
 
 .icon {
 
    margin-top: 150px;
 }
 
 .icon i:first-child {
 
    margin: 20px;
 }
 
 .icon i:nth-child(2) {
 
    margin: 20px;
 }
 
 .icon i:nth-child(3) {
 
    margin: 20px;
 }
 
 .icon i:last-child {
 
    margin: 20px;
 }
 
 
 @media screen and (max-width: 600px) {
 
 
 .image {
 
    flex-direction: column;
 
 }
 
 footer {
 
    flex-direction: column;
 
 }
 
 
 }