header {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 20px;
    position: fixed;
}

/* .header-left {

} */

.header-left img {

    height: 80px;
    margin-left: 30px;
    /* align-items: center; */
    /* margin-left: 60px; */
}

.header-right {

    align-items: center;
    margin:  auto 0;
    width: 60px;
    height: 30px;
    margin-right: 30px;
    /* margin-left: 500px; */
}


.header-right span {

    position: relative;
    display: block;
    color: white;

}

.header-right span,
.header-right span::before,
.header-right span::after {

    width: 50px;
    height: 5px;
    background-color: #ddd;
    border-radius: 2px;
    transition: all 1s ease;
}

.header-right span::before,
.header-right span::after {

    content: "";
    position: absolute;
}

.header-right span::before {

    top: -9px;
}


.header-right span::after {

    top: 9px;
}

.section1 {
    
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url("../../img/canada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    /* margin: auto 0; */
    align-items: center;
    justify-content: center;
}

.section1 {

}



.section1 img {

    height: 250px;
    width: 250px;
    
}


.image {

    display: flex;
    justify-content: space-around;
    /* height: 300px; */
    
}

.image a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    letter-spacing: 10px;
    text-align: center; 
    text-decoration: none;
    /* padding-top: 200px; */
}

.image a:hover{
    opacity: 0.7;
}

.image a:first-child {

    background-image: url("../../img/YAMAyamasha-06_TP_V4\ \(1\).jpg");
    height: 300px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.image a:nth-child(2) {

    background-image: url("../../img/MIYADSC_3425-3_TP_V4\ \(1\).jpg");
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image a:last-child {

    background-image: url("../../img/ipadIMGL1133_TP_V4.jpg");
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {

    height: 100vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
 }
 
 footer img {
 
    height: 100px;
    width:100px;
    padding-bottom: 80px;
 
 }
 
 .download {
 
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: gray;
    border: solid 2px gray;
    border-radius: 3px;
    transition: .4s;
    margin-right: 50px;
    font-size: 20px;
 }
 
 .download:hover {
 
    background: gray;
    color: white;
 }
 
 .reservation {
 
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: gray;
    border: solid 2px gray;
    border-radius: 3px;
    transition: .4s;
    margin-left: 50px;
    font-size: 20px;
 
 }
 
 .reservation:hover {
 
    background: gray;
    color: white;
 }
 
 .download i {
 
    padding-right: 20px;
 }
 
 .reservation i {
 
    padding-right: 20px;
 }
 
 .icon {
 
    margin-top: 150px;
    
 }
 
 .icon i:first-child {
 
    margin: 20px;
    color: black;
 }
 
 .icon i:nth-child(2) {
 
    margin: 20px;
 }
 
 .icon i:nth-child(3) {
 
    margin: 20px;
 }
 
 .icon i:last-child {
 
    margin: 20px;
 }
 
.arrow {

    font-size: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0,.6));
    cursor: pointer;
    display: none;

}

 
 @media screen and (max-width: 600px) {
 
 
 .image {
 
    flex-direction: column;
 
 }
 
 footer {
 
    flex-direction: column;
 
 }
 
 
 }