body {
    background-color: black;
    background-size: cover; 
}

/* header */
.header{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 20px;
    letter-spacing: 5px;
}

.left{
    padding-left: 30px;
    cursor: pointer;
    display: flex;
}

.logo{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
}

.left p{
    padding-left: 10px;
}

.right:before {
    cursor: pointer;
	content: "";
	display: block;
	border-bottom: 1px solid #fff;
    width: 35px;
    margin-right: 10px;
};

.right:hover {
    border-bottom: 1px solid pink;
}


/* menu */
.list{
    color: white;
    margin: 120px 50px 50px 30px;
    padding: 50px;
    animation: anime 2s ease-in;
}

.menu{
    list-style: none;
    letter-spacing: 15px;
    display: inline-block;
}

.menu li {
    font-size: 30px;
    padding-bottom: 40px;
}

.sub-menu{
    color: gray;
    display: flex;
    list-style: none;
    letter-spacing: 10px;
}

.sub-menu li {
    padding-right: 20px;
}

li span {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: gray;
}

@keyframes anime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
};