body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(../../img/IMG_5494.JPG);
    background-size: cover;
    background-position: center;
}

.contact-title{
    margin-top: 300px;
    color:white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
}

.contact-title h2{
    font-size: 16px;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
}

